[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
petl = "*"
requests = "*"
"psycopg2-binary" = "*"
requests-cache = "*"
csvkit = "*"

[dev-packages]
"flake8" = "*"
ipython = "*"

[requires]
python_version = "3.7"
